* {
    scroll-behavior: smooth;
}

.container-fluid {
    background-color: #242222 !important;
}



.card{
    height: 100vh;
    background-color: rgb(36, 34, 34) !important;
    border-radius: 0px;
    
}

/* permette di creare lo scrolling degli amici */
.contacts_body{
    overflow-y: auto;
    white-space: nowrap;
}



.card-icons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}

.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}

.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts{
    list-style: none;
    padding: 0;    
}

.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}


.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}

.icons {
    font-size: 25px;
}




#action_menu_btn{
position: ab;
right: 10px;
top: -10px;
color: white;
cursor: pointer;
font-size: 30px;
}

.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}

.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}